Checks: >
  clang-diagnostic-*,
  bugprone-*,
  modernize-use-nodiscard,
  readability-braces-around-statements,
  -bugprone-unchecked-optional-access

WarningsAsErrors: >
  clang-diagnostic-reorder-ctor,
  modernize-use-nodiscard,
  readability-braces-around-statements

HeaderFilterRegex: '^(.*\/)?(include|src)\/.*'
FormatStyle: file